<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>​Pagina heroes</p>
    <p><%= h %></p>
      
  </body>
</html>